.kmTitel {
    border: none;
    border-width: 0.2px;
    border-bottom: 2px solid #00bfff;
    font-size: 2rem;
    text-align: center;
    margin: 5% 0px 5% 0px;
}

h1 {
    overflow: hidden;
    white-space: nowrap;
}

.col-sm {
    padding-top: 0.5%;
}

    .col-sm .lead {
        margin-bottom: 0.5%;
    }

.form-check {
    padding-left: 0;
    display: inline-block;
    padding-top: 2rem;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

.contentAligner {
    /*display: grid;*/
    /*    grid-template-columns: 50% 50%;
    grid-template-rows: 200px 200px;
    grid-gap: 0;*/
    /*height:10rem;*/
    clear: both;
}

.contentAlignerError {
    display: flex;
    /*height:10rem;*/
    clear: both;
    word-wrap: break-word;
}

.row {
    background-color: #f8f9fa;
    border-radius: 3px;
    border: 0.1px solid #dee2e6;
}

.variantTitleAlign {
    padding-top: 0.5%;
}

.toolTip {
    padding: 0;
}

.arrowMenu {
    padding: 5px;
}

.clickAbleDiv {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.pagedListPager {
    text-align: center;
    font-size: x-large;
}

/*.electricCarContainer {
    background-color: lightgrey;
    flex: auto;
    text-align: center;
}*/

/*.gasCarContainer {
    background-color: darkgrey;
    flex: auto;
    text-align: center;
    height: auto;
}*/

.row:after {
    content: "";
    display: table;
    clear: both;
}

.topButtons {
    margin-bottom: 1%;
    display: flex;
}

.ddBtnHolder {
    margin-left: 0.5%;
}

#buttonSubmit {
    margin-left: 2.5%;
    margin-right: 0.5%;
}

.electricRadioBoxes {
    margin-top: 6%;
}

.statisticsContainer {
    /*background-color: royalblue;*/
    grid-column: 1 / span 2;
}

.statisticsNav {
    margin-top: 1.5%;
    /*background-color: darkgrey;*/
    /*border-top-right-radius: 20px;*/
    width: fit-content;
    padding-top: 1%;
    /*padding-left: 1%;*/
    padding-right: 1%;
    padding-bottom: 1%;
}

.pagination a {
    text-decoration: none;
    color: #6c757d;
    padding: 1px;
}

    .pagination a.active {
        background-color: #4CAF50;
        color: white;
    }

    .pagination a:hover:not(.active) {
        background-color: #ddd;
    }

.pagination li {
    padding: 5px;
}


.statisticsNav {
    padding-bottom: 0;
}

.statisticsBody {
    background-color: #f8f9fa;
    border-left: 0.1px solid #dee2e6;
    border-right: 0.1px solid #dee2e6;
    border-bottom: 0.1px solid #dee2e6;
    border-top: 0.1px solid #dee2e6;
}

.statisticsTable {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    clear: both;
}
.statisticsGas {
    flex: auto;
    text-align: center;
}

.statisticsElectric {
    flex: auto;
    justify-content: end;
}

.statisticsTextEndAlign {
    text-align: end;
}

.canvasContainer {
    width: 40%;
}

.category {
    font-weight: bold;
}

.totalPriceAmountTitle {
    border-bottom: 2px double black;
}

.fa-circle-info {
    color: #3b71ca;
}

.chargingStationTitle {
    display: inline-flex;
}

.chargingStationInfo {
    margin-left: 0.5rem;
    padding-top: 2.5%;
}